@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anton";
  color: #eb0e87;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#portada {
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

#muñeca {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 70vh;
  aspect-ratio: 2/3;
  z-index: -1;
}

#textoPortfolio {
  position: absolute;
  bottom: 10%;
  left: 50%;
  translate: -50%;
  width: 70vw;
}

header {
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  font-size: clamp(1.2rem, 4vw, 2.5rem);
}

#enlaceConoceme {
  display: none;
}

#sobreMi {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.contenedorSobreMi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.contenedorSobreMi img,
.contenedorSobreMi div {
  width: 80%;
}

.parrafoSobreMi {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.parrafoSobreMi p {
  font-family: "Inter";
}

.skills {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

}

.contenedorSkills {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}

.contenedorSkills div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedorSkills div span {
  background-color: #eb0e87;
  color: white;
  padding: 8px;
  width: 32%;
  font-family: "Inter";
  font-weight: 600;
  border-radius: 10px;
  font-size: clamp(0.5rem, 2vw, 3rem);
}

#proyectos {
  background-color: #eb0e87;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: 30px;
}
#proyectos h1 {
  color: white;
}

.contenedoresProyectos {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;
  gap: 20px;
}

.contenedoresProyectos div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contenedoresProyectos div p {
  font-family: "Inter";
}

.contenedoresProyectos img {
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
}


#contacto{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contenedorContacto{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.enlaceContacto{
  font-size: clamp(1rem, 3vw, 4rem);
}

.enlaceSinEstilo{
  text-decoration: none;
}

.textoContacto{
  width: 100%;
  text-align: center;
  font-size: clamp(5rem, 25vw, 30rem);
}

.enlaceVolverArriba{
  font-size: clamp(3rem, 8vw, 12rem);
  text-align: center;
  text-decoration: none;
}


@media (min-width: 720px) {
  h1 {
    font-size: clamp(4rem, 6vw, 7rem);
  }

  #sobreMi {
    height: 100vh;
    justify-content: center;
  }

  .contenedorSobreMi {
    flex-direction: row;
    width: 70vw;
  }
  .contenedorSobreMi img {
    width: 25vw;
  }
  .parrafoSobreMi p {
    font-size: clamp(1rem, 1.5vw, 1.8rem);
  }

.skills{
  width: 100%;
  justify-content: center;
  gap: 10%;
}

  .contenedorSkills{
    width: 40%;
    justify-content: ce;
  }

  .contenedorSkills h2{
    font-size: clamp(1rem, 2vw, 3rem);
  }

  .contenedorSkills div span{
    font-size: clamp(0.6rem, 1.2vw, 2rem);
  }

  #textoPortfolio {
    position: absolute;
    left: 35%;
    translate: -50%;
    width: 450px;
  }
  #muñeca {
    height: 130vh;
    aspect-ratio: 2/3;
    z-index: -1;
  }

  #enlaceConoceme {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-decoration: none;
  }
  #enlaceConoceme h2 {
    font-size: 3.5rem;
  }

  #rectangulo {
    width: 300px;
    height: 30px;
    background-color: #eb0e87;
  }

  #proyectos{
    gap: 60px;
  }

  .contenedoresProyectos {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    height: 80vh;
  }
  .contenedoresProyectos div {
    padding: 50px;
    justify-content: space-between;
    width: 40%;
  }
  .contenedoresProyectos h2{
    font-size: clamp(3rem, 4vw, 6rem);
  }

.contenedoresProyectos div p {
  font-family: "Inter";
  font-size: clamp(1.5rem, 2vw, 3rem);
}

.contenedoresProyectos img {
  width: 50%;
}
}
