@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anton";
  color: #eb0e87;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#portada {
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

#muñeca {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 70vh;
  aspect-ratio: 2/3;
  z-index: -1;
}

#textoPortfolio {
  position: absolute;
  bottom: 10%;
  left: 50%;
  translate: -50%;
  width: 70vw;
}

header {
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  font-size: clamp(1.2rem, 4vw, 2.5rem);
}

#enlaceConoceme {
  display: none;
}

#sobreMi {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.contenedorSobreMi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.contenedorSobreMi img,
.contenedorSobreMi div {
  width: 80%;
}

.parrafoSobreMi {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.parrafoSobreMi p {
  font-family: "Inter";
}

.skills {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.contenedorSkills {
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.contenedorSkills div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.contenedorSkills div span {
  background-color: #eb0e87;
  color: white;
  padding: 8px;
  font-family: "Inter";
  font-weight: 600;
  border-radius: 10px;
}

#proyectos {
  background-color: #eb0e87;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}
#proyectos h1 {
  color: white;
}

.contenedoresProyectos {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;
  gap: 20px;
}

.contenedoresProyectos div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contenedoresProyectos div p {
  font-family: "Inter";
}

.contenedoresProyectos img {
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
}

@media (min-width: 720px) {
  h1 {
    font-size: 4rem;
  }

  #sobreMi {
    height: 100vh;
    justify-content: center;
  }

  .contenedorSobreMi {
    flex-direction: row;
    width: 70vw;
  }
  .contenedorSobreMi img {
    width: 25vw;
  }
  .parrafoSobreMi p {
    font-size: 0.8rem;
  }

  .contenedorSkills div {
    max-width: 30vw;
  }

  #textoPortfolio {
    position: absolute;
    left: 35%;
    translate: -50%;
    width: 450px;
  }
  #muñeca {
    height: 130vh;
    aspect-ratio: 2/3;
    z-index: -1;
  }

  #enlaceConoceme {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-decoration: none;
  }
  #enlaceConoceme h2 {
    font-size: 3.5rem;
  }

  #rectangulo {
    width: 300px;
    height: 30px;
    background-color: #eb0e87;
  }
}

@media (min-width: 1200px) {
  .parrafoSobreMi p {
    font-size: 1.2rem;
  }
  .contenedorSkills div span {
    padding: 12px;
  }
}
