@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anton";
  color: #eb0e87;
}

main {
  display: flex;
  flex-direction: column;
}

#portada {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#muñeca {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 70vw;
  aspect-ratio: 2/3;
  z-index: -1;
}

#portada header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#portada header a {
  text-decoration: none;
  font-size: 5rem;
}

#textoPortfolio {
  position: absolute;
  bottom: 100px;
  left: 100px;
  width: 600px;
}

#enlaceConoceme {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 60px;
  bottom: 0;
  font-size: 3rem;
  text-decoration: none;
}

#rectangulo {
  width: 400px;
  height: 30px;
  background-color: #eb0e87;
}

#flechaAbajo {
  width: 200px;
  align-self: end;
  margin-top: 100px;
}


#sobreMi{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.contenedorSobreMi{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.contenedorSobreMi img, .parrafoSobreMi{
  width: 90%;
}

.parrafoSobreMi{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.parrafoSobreMi p{
  font-family: "Inter";
}

.skills{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.contenedorSkills{
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.contenedorSkills div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.contenedorSkills div span{
  background-color: #eb0e87;
  color: white;
  padding: 10px;
  font-family: "Inter";
  font-weight: 600;
  border-radius: 10px;
}